<ion-header>
  <ion-toolbar>
    <ion-avatar slot="start"></ion-avatar>
    <ion-title>{{another_uname}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <div class="container">
    <div class="messaging">
      <div class="inbox_msg">
          <div class="msg_history">
            <div class="incoming_msg">
              <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
              <div class="received_msg">
                <div class="received_withd_msg">
                  <p>Test which is a new approach to have all
                    solutions</p>
                  <span class="time_date"> 11:01 AM    |    June 9</span></div>
              </div>
            </div>
            <div class="outgoing_msg">
              <div class="sent_msg">
                <p>Test which is a new approach to have all
                  solutions</p>
                <span class="time_date"> 11:01 AM    |    June 9</span> </div>
            </div>
            <div class="incoming_msg">
              <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
              <div class="received_msg">
                <div class="received_withd_msg">
                  <p>Test, which is a new approach to have</p>
                  <span class="time_date"> 11:01 AM    |    Yesterday</span></div>
              </div>
            </div>
            <div class="outgoing_msg">
              <div class="sent_msg">
                <p>Apollo University, Delhi, India Test</p>
                <span class="time_date"> 11:01 AM    |    Today</span> </div>
            </div>
            <div class="incoming_msg">
              <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
              <div class="received_msg">
                <div class="received_withd_msg">
                  <p>We work directly with our designers and suppliers,
                    and sell direct to you, which means quality, exclusive
                    products, at a price anyone can afford.</p>
                  <span class="time_date"> 11:01 AM    |    Today</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>       
    </div> -->
  <!-- <div *ngFor='let message of messages'>   -->
    <ion-item *ngFor='let message of messages'>
      {{message}}
    </ion-item>
  <!-- </div>   -->
</ion-content>

<ion-footer>
  <ion-item>
    <ion-input #inp placeholder="enter text"></ion-input>
    <ion-button (click)="sendchat(inp.value)">-></ion-button>
  </ion-item>
</ion-footer>
