<ion-header>
  <ion-toolbar>
    <ion-avatar slot="start"></ion-avatar>
    <ion-title>{{another_uname}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>  
    <div class="container">
      <div class="messaging">
          <div class="inbox_msg">
            <div class="msg_history">
              <!-- <if message.senderId=> -->
              <ng-container *ngFor='let message of messages | async '>
                <!-- {{message.senderId}}
                {{uid}}   -->
                <div class="incoming_msg" *ngIf="(message.senderId != uid); else myMsg">
                  <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                  <div class="received_msg">
                    <div class="received_withd_msg">
                      <p>{{message.messageText}}</p>
                      <span class="time_date"> 11:01 AM    |    June 9</span>
                    </div>
                  </div>
                </div>
                <ng-template #myMsg >
                  <div class="outgoing_msg">
                    <div class="sent_msg" style="display: block;">
                      <p>{{message.messageText}}</p>
                      <span class="time_date"> 11:01 AM    |    June 9</span> 
                    </div>
                  </div>
                </ng-template >
              </ng-container>  
          </div>
        </div>
      </div>       
    </div>
  </div>   
    <!-- <div *ngFor='let message of messages'>  
    <ion-item *ngFor='let message of messages'>
      {{message.messageText}}
    </ion-item>
  </div>   -->
</ion-content>

<ion-footer>
  <ion-item>
    <ion-input #inp placeholder="enter text"></ion-input>
    <ion-button (click)="sendchat(inp.value)">-></ion-button>
  </ion-item>
</ion-footer> -->
